version: "3.8"

services:
    rabbitmq:
        image: rabbitmq:3-management-alpine
        container_name: rabbitmq
        environment:
            RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER:-admin}
            RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS:-123456}
        ports:
            - "${RABBITMQ_PORT:-5672}:5672"
            - "${RABBITMQ_MANAGEMENT_PORT:-15672}:15672"
        volumes:
            - rabbitmq_data:/var/lib/rabbitmq
        networks:
            - microservice_template_network
        restart: unless-stopped

volumes:
    rabbitmq_data:

networks:
    microservice_template_network:
        driver: bridge
